<div class='row col-md-12'>
  <div class='well'>
    <div id='projects' class='row text-center'>
      <h2>Recent Projects</h2>
    </div>
    <!-- Project 1 -->
    <%= erb :'projects/bootlegger'%>
    <!-- Project 2 -->
    <%= erb :'projects/notTwitter'%>
    <!-- Project 3 -->
    <%= erb :'projects/toDoRuby' %>
    <!-- Project 4 -->
    <%= erb :'projects/photoGallery1' %>
     <!-- Project 5 -->
    <%= erb :'projects/toDoJs' %>
  </div>
</div>