<div class='row col-md-12'>
  <div class='well'>
    <div id='projects' class='row text-center'>
      <h2>Recent Projects</h2>
    </div>
    <div class='project-wrapper'>
      <%= erb :'projects/dailyconstitutional'%>
    </div>
      <!--Project 0-->
    <div class='project-wrapper'>
      <%= erb :'projects/deeperLearning'%>
    </div>
      <!-- Project 1 -->
    <div class='project-wrapper'>
      <%= erb :'projects/mapper'%>
    </div>
      <!-- Project 2 -->
    <div class='project-wrapper'>
      <%= erb :'projects/bootlegger'%>
    </div>
      <!-- Project 3 -->
    <div class='project-wrapper'>
      <%= erb :'projects/notTwitter'%>
    </div>
      <!-- Project 4 -->
    <div class='project-wrapper'>
      <%= erb :'projects/toDoRuby' %>
    </div>
  </div>
</div>
