<div class='row col-md-12'>
  <div class='well'>
    <div id='projects' class='row text-center'>
      <h2>Recent Projects</h2>
    </div>
    <%= erb :'projects/dailyconstitutional'%>
      <!--Project 0-->
    <%= erb :'projects/deeperLearning'%>
      <!-- Project 1 -->
    <%= erb :'projects/jukebox'%>
      <!-- Project 2 -->
    <%= erb :'projects/bootlegger'%>
      <!-- Project 3 -->
    <%= erb :'projects/notTwitter'%>
      <!-- Project 4 -->
    <%= erb :'projects/toDoRuby' %>
      <!-- Project 5 -->
    <%= erb :'projects/photogallery' %>
      <!-- Project 6 -->
    <%= erb :'projects/toDoJs' %>
  </div>
</div>